[Unit]
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=%h/audioref/venv/bin/python audioref.py
WorkingDirectory=%h/audioref

[Install]
WantedBy=default.target
